@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@keyframes bgscroll {
    0% {
        background-position: 0vw 120vh, 0vw 240vh;
    }
    25% {
        background-position: 50vw 90vh, 100vw 160vh;
    }
    50% {
        background-position: 100vw 60vh, 200vw 120vh;
    }
    75% {
        background-position: 150vw 30vh, 300vw 60vh;
    }
    100% {
        background-position: 200vw 0vh, 400vw 0vh;
    }
}

@keyframes rainbow {
    0% {
        color: #ffaaaa;
    }
    16% {
        color: #fdfd88;
    }
    33% {
        color: #aaffaa;
    }
    50% {
        color: #aaffff;
    }
    67% {
        color: #aaaaff;
    }
    83% {
        color: #ffaaff;
    }
    100% {
        color: #ffaaaa;
    }
}

body {
    background: #888888;
    font-family: 'Noto Sans', sans-serif;
    color: #000000;
    background-image: url("hats.png"), url("pattern.png");
    animation: bgscroll 60s linear infinite;
    text-align: center;
    border-radius: 8px;
}

body.dark {
    color: #ffffff;
    background-color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
}
header button {
    flex-grow: 1;
    margin: 0 1em;
    border: none;
    outline: none;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 4px 4px #00000044;
}
footer button {
    border: none;
    outline: none;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 4px 4px #00000044;
}

main {
    background-color: #ffffffce;
    border-radius: 8px;
}

body.dark main {
    background-color: #000000ce;
    border-radius: 8px;
}

.dx {
    animation: rainbow 2s linear infinite;
}

h1 {
    color: #ff3030;
}

h2 {
    color: #5050ff;
}

img {
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0px 0px 0px 100vw #00000000;
    border-radius: 8px;
}
  
img:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 0px 100vw #00000088;
}